.bly-profile-image-wrap {
    background: #ddd;
    position: relative;
    width: 20%;
    margin-bottom: 15px;

    &:before {
        content: '';
        display: inline-block;
        padding-top: 100%;
    }

    button {
        position: absolute;
        left: 0;
        z-index: 50;
        padding: 0;
        height: 100%;
        width: 100%;
    }

    button:focus {
        background: none;
        border: none;
        outline: none;
        box-shadow: none;
    }

    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        position: relative;
        z-index: 5;
    }
}

.bly-profile-image-wrap {
	border-radius: 500px;

	&:before {
		content: '';
		display: inline-block;
		padding-top: 92%;
	}

	img {
		border-radius: 500px;
	}
}


.bly-profile-image-square {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 5;
    margin: 0;
}