/**
 * Pricing table styles
 * Loads on front end and back end
 */

.wp-block-blockly-pricing-table {
	margin-bottom: 1.5em;
}

.bly-pricing-table-wrap {
	display: -ms-grid;
	display: grid;
	grid-template-rows: 1fr;
	//grid-template-areas: "col1";
    grid-column-gap: 2em;
}

[data-type="blyblock/pricing-table-inner"],
.wp-block-blockly-pricing-table-inner {
	display: inline-block;
	vertical-align: top;

	@media only screen and (max-width: 600px) {
		margin-bottom: 1.5em;
	}
}

.bly-block-pricing-table-inside {
	display: inline-block;
	width: 100%;
	border-color: #272c30;
}

/* Grid gap classes */

.bly-block-pricing-table-gap-0 {
	grid-column-gap: 0;
}

.bly-block-pricing-table-gap-1 {
	grid-column-gap: 1em;
}

.bly-block-pricing-table-gap-2 {
	grid-column-gap: 2em;
}

.bly-block-pricing-table-gap-3 {
	grid-column-gap: 3em;
}

.bly-block-pricing-table-gap-4 {
	grid-column-gap: 4em;
}

.bly-block-pricing-table-gap-5 {
	grid-column-gap: 5em;
}

/* Grid column classes */

.bly-pricing-columns-2 .bly-pricing-table-wrap {
	-ms-grid-columns: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "col1 col2";

	@media only screen and (max-width: 600px) {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
		grid-template-areas:
		"col1"
		"col2";
	}
}

.bly-pricing-columns-3 .bly-pricing-table-wrap {
	-ms-grid-columns: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: "col1 col2 col3";

	@media only screen and (max-width: 600px) {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
		grid-template-areas:
			"col1"
			"col2"
			"col3";
	}
}

.bly-pricing-columns-4 .bly-pricing-table-wrap {
	-ms-grid-columns: 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-areas: "col1 col2 col3 col4";

	@media only screen and (max-width: 800px) {
		-ms-grid-columns: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			"col1 col2"
			"col3 col4";

		.wp-block-blockly-pricing-table-inner {
			margin-bottom: 1.5em;
		}
	}

	@media only screen and (max-width: 600px) {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
		grid-template-areas:
			"col1"
			"col2"
			"col3"
			"col4";
	}
}

/* Pricing table components */

.bly-pricing-table-price {
	line-height: 1;
}

.bly-pricing-table-currency {
	vertical-align: top;
	margin-top: .4em;
	margin-right: 3px;
	display: inline-block;
	line-height: 1;
}

.wp-block-blockly-pricing-table-inner {
	vertical-align: top;

	.bly-pricing-table-features,
	.block-library-list & ul {
		margin: 0;
		padding: 0;
		border: none;
	}
}

/* IE 11 support - Rows and column location must be explicitly defined. */

.bly-block-pricing-table:nth-child(1) {
	// -ms-grid-row: 1;
	// -ms-grid-column: 1;
	grid-area: col1;
}

.bly-block-pricing-table:nth-child(2) {
	// -ms-grid-row: 1;
	// -ms-grid-column: 2;
	grid-area: col2;
}

.bly-block-pricing-table:nth-child(3) {
	// -ms-grid-row: 1;
	// -ms-grid-column: 3;
	grid-area: col3;
}

.bly-block-pricing-table:nth-child(4) {
	// -ms-grid-row: 1;
	// -ms-grid-column: 4;
	grid-area: col4;
}

.editor-styles-wrapper [data-type="blyblock/pricing-table-features"] ul {
	list-style-type: none;
	display: block;
	white-space: initial;
	margin-left: 0;
	margin-right: 0;
}

.bly-list-border-solid {
	li {
		border-bottom-style: solid;
	}
}

.bly-list-border-dashed {
	li {
		border-bottom-style: dashed;
	}
}

.bly-list-border-dotted {
	li {
		border-bottom-style: dotted;
	}
}

ul.bly-pricing-table-features li {
	list-style: none;
	margin: 0;
	padding: 4px 0;
	border-color: inherit;

	&:last-child {
		border-bottom: none;
	}
}

.bly-list-border-width-1 {
	li {
		border-width: 1px;
	}
}

.bly-list-border-width-2 {
	li {
		border-width: 2px;
	}
}

.bly-list-border-width-3 {
	li {
		border-width: 3px;
	}
}

.bly-list-border-width-4 {
	li {
		border-width: 4px;
	}
}

.bly-list-border-width-5 {
	li {
		border-width: 5px;
	}
}

.bly-pricing-table-price,
.bly-pricing-table-term {
	display: inline;
}

span.bly-pricing-table-term {
	margin-left: 5px;
}

.bly-pricing-table-wrap .bly-block-pricing-table-inside > *:last-child {
	margin-bottom: 0;
}

.wp-block-blockly-pricing-table .alignwide,
.wp-block-blockly-pricing-table .alignfull {
	width: 100%;
	margin-left: auto;
}

.bly-block-pricing-table-center {
	text-align: center;

	.bly-block-button {
		text-align: center !important;
	}

	.blocks-button__inline-link {
		margin: 0 auto;
		text-align: center;
	}
}

.bly-block-pricing-table-left {
	text-align: left;
}

.bly-block-pricing-table-right {
	text-align: right;
}

.bly-pricing-table-button .bly-block-button {
	margin-bottom: 0;
}


//custom style

.bly-pricing-table-title{
	text-align: center;
    background: #fff;
    border-bottom: 1px solid #70707080;
	text-transform: uppercase;
}
.bly-pricing-table-subtitle,
.bly-pricing-table-subtitle2 {
    background: #f7faff;
}
.bly-pricing-table-subtitle{
	padding-top: 20px;
}
.bly-pricing-table-subtitle2 {
	padding-bottom: 20px;
	border-bottom: 1px solid #70707080;
}
.bly-pricing-table-price-wrap.bly-pricing-has-currency {
	background: #f7faff;
}

.wp-block-blockly-pricing-table-button {
	.bly-block-button {
		margin: 0;
		.bly-button {
			display: block;
		}
	}
	
}