/**
 * Editor styles for the admin
 */

 .bly-block-profile {
    margin-bottom: 0;
}

.block-editor-block-list__layout [data-type="blockly/author-profile-box"] {
    margin-bottom: 1.2em;
}

.bly-profile-image-wrap {
    svg {
        pointer-events: none;
        margin: auto;
    }

    .components-button:not(:disabled):not([aria-disabled=true]):focus {
        background: none;
        box-shadow: none;
    }
}

.bly-profile-content-wrap {
    h2.editor-rich-text__tinymce {
        line-height: 1.2;
    }

    p.editor-rich-text__tinymce {
        line-height: 1.6;
    }
}

#editor .wp-block-blockly-author-profile-box.square .bly-remove-image {
	top: 5px;
	right: 5px;
}

#editor .bly-has-avatar {

	.bly-profile-image-square {
		// button {
		// 	top: 0;
		// 	left: 0;
		// 	height: 100%;
		// }

		.bly-change-image {
			transition: .2s ease;

			&:hover {
				opacity: .7;
			}
		}
	}
}
