/**
 * Testimonial styles
 * Loads on front end and back end
 */
 .bly-block-testimonial {
	.bly-testimonial-name {
		font-size: 1em;
		font-weight: bold;
		line-height: 1.2;
		margin: 0;
		padding: 0;
	}
	.bly-testimonial-title {
		opacity: .8;
	}
	.bly-testimonial-avatar {
		border-radius: 50%;
	}
	.editor-styles-wrapper img {
		height: auto;
		max-width: 100%;
		vertical-align: middle;
	}
	.bly-testimonial-image-wrap {
		width: 115px;
		height: 115px;
		border-radius: 50%;
		background: #ddd;
		position: relative;
		img {
			object-fit: cover;
			height: 100%;
			width: 100%;
			position: relative;
			z-index: 10;
			border-radius: 40px;
			z-index: 5;
		}
	}
}


//colors
$color_science_blue_approx: #0a60e0;
$color_blue_ribbon_approx: #053cf0;
$color_link_f0d165: #f0d165;
$color_link_112129: #112129;
$color_white: #ffffff;
//fonts
$font_0: Jost;
$font_1: sans-serif;

// Breakdown variable
$breakpoint-laptop-large: 1400px;
$breakpoint-laptop: 1300px;
$breakpoint-notebook: 1036px;
$breakpoint-tablet-large: 910px;
$breakpoint-tablet-medium: 863px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 590px;
$breakpoint-mobile-smallest: 400px;

.wp-block-blockly-testimonial {
  font-size: 18px;
  color: $color_white;
  font-family: $font_0, $font_1;

  &.style_one{
	background: transparent
	linear-gradient(
		180deg,
		$color_science_blue_approx 0,
		$color_blue_ribbon_approx 100%
	);
	box-shadow: 0 10px 30px #00000014;
	border-radius: 25px;
	border: 10px solid $color_white;
	margin-top: 80px;
  }
  
  h2 {
    font-size: 18px !important;
    color: $color_white;
    font-family: $font_0, $font_1;
  }
  
  .blockly-testimonial-wrap {
    padding: 0 5% 5%;
    .blockly-testimonial-wrap-symbol-container {
      display: flex;
      justify-content: center;
      margin-top: -60px;
      position: relative;
      .blockly-testimonial-wrap-symbol-inner {
        width: 100px;
        height: 100px;
        background-color: #ffffff66;
        backdrop-filter: blur(3px);
        box-shadow: 0px 15px 15px 0px #10233f80;
        border-radius: 50%;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        svg {
          width: 60px;
          path {
            fill: $color_science_blue_approx;
          }
        }
      }
    }

    .bly-testimonial-text {
      padding-top: 140px;
      p {
        font-weight: 300;
        text-align: center;
        letter-spacing: 1.5px;
      }
    }

    .bly-testimonial-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10px 0 0;
      .bly-testimonial-avatar-wrap {
        .bly-testimonial-image-wrap {
          display: flex;
          justify-content: center;
          .bly-testimonial-avatar {
            width: 115px;
            border-radius: 50%;
          }
        }
      }

      h2 {
        font-weight: 400;
        text-align: center;
        letter-spacing: 1.4px;
        margin-top: 23px;
        margin-bottom: 0;
      }

      .bly-testimonial-title {
        span {
          font-weight: 200;
          text-align: center;
          letter-spacing: 0;
        }
      }
    }
  }
  &.style_two {
    padding: 0;
    border: none;
    overflow: hidden;
    background: unset;
    color: $color_link_112129;
	box-shadow: 0 10px 30px #00000014;
	border-radius: 25px;
    h2 {
      color: $color_link_112129;
    }

	.blockly-testimonial-wrap{
		padding: 0;
		.bly-testimonial-text {
			background: $color_link_f0d165 !important;
			padding: 3% 5%;
			margin-top: 0;
			padding-bottom: 60px;
			p {
			  font-weight: 600;
			}
			.bly-testiominal-image-wrap-lower {
			  display: flex;
			  justify-content: flex-end;
			}
		  }
	  
		  .bly-testimonial-info {
			padding: 0 0 2%;
	  
			.bly-testimonial-avatar-wrap {
			  position: relative;
			  .bly-testimonial-image-wrap {
				position: absolute;
				left: 50%;
				right: 50%;
				top: 0;
				transform: translate(-50%, -50%);
				.bly-testimonial-avatar {
				  width: 115px !important;
				  border: 5px solid $color_white;
				}
			  }
			}
	  
			h2 {
			  margin-top: 75px;
			  font-weight: 600;
			}
		  }
	}
    
  }
}

// Responsive Design
@media screen and (max-width: $breakpoint-laptop-large) {
  .wp-block-blockly-testimonial {
    &.style_two {
      .bly-testimonial-text {
        padding-top: 5%;
      }
    }
  }
}

@media screen and (max-width: $breakpoint-notebook) {
  .wp-block-blockly-testimonial {
    .blockly-testimonial-wrap {
      .bly-testimonial-text {
        padding-top: 140px;
      }
    }
    &.style_two {
      .bly-testimonial-text {
        padding-top: 5%;
      }
    }
  }
}

@media screen and (max-width: $breakpoint-tablet-large) {
  .wp-block-blockly-testimonial {
    font-size: 16px;
    h2 {
      font-size: 16px !important;
    }
  }
}
@media screen and (max-width: $breakpoint-tablet) {
  .wp-block-blockly-testimonial {
    .blockly-testimonial-wrap {
      // margin-top: 2%;
      .blockly-testimonial-wrap-symbol-container {
        margin-top: -60px;
        .blockly-testimonial-wrap-symbol-inner {
          padding: 30px;
          width: 100px;
          height: 100px;
          svg {
            width: 100%;
          }
        }
      }

      .bly-testimonial-text {
        margin-top: 0;
        padding-top: 120px;
      }
    }

    &.style_two {
      .bly-testimonial-text {
        padding-top: 5%;
        svg {
          width: 40px;
        }
      }
    }
  }
}

@media screen and (max-width: $breakpoint-mobile) {
  .wp-block-blockly-testimonial {
    font-size: 14px;
    h2 {
      font-size: 14px !important;
    }
    .blockly-testimonial-wrap {
      .blockly-testimonial-wrap-symbol-container {
        margin-top: -50px;
        .blockly-testimonial-wrap-symbol-inner {
          width: 80px;
          height: 80px;
        }
      }

      .bly-testimonial-info {
        .bly-testimonial-avatar-wrap {
          .bly-testimonial-image-wrap {
            .bly-testimonial-avatar {
              width: 100px;
            }
          }
        }
      }
    }
    &.style_two {
      .bly-testimonial-text {
        padding-top: 5%;
        svg {
          width: 30px;
        }
      }
    }
  }
}

@media screen and (max-width: $breakpoint-mobile-smallest) {
  .wp-block-blockly-testimonial {
    .blockly-testimonial-wrap {
      .bly-testimonial-text {
        padding-top: 100px;
      }
    }
    &.style_two {
      .bly-testimonial-text {
        padding-top: 5%;
      }
    }
  }
}
